.profile {
display: flex;
padding: 34px 0 20px;
border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    border-radius: 8px;
    width: 190px;
    padding: 0 20px 0 0;
    margin: 0;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
    font-family: "Poppins Med", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 12px;
    color: #212121;
    max-width: 420px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__description {
    font-family: "Poppins Med", Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    opacity: 70%;
    max-width: 420px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile__edit-btn {
    font-family: "Poppins Med", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    margin-top: auto;
    background-color: #FCF5E5;
    border-style: hidden;
    text-align: start;
    opacity: .7;
}

.profile__edit-btn:hover {
  transition: .5s;
  cursor: pointer;
  opacity: 1;
}

.profile__pencil {
    width: 14px;
    margin: 0 8px 0 0;
}

.profile__add-btn {
    background-color: #212121;
    color: #FCF5E5;
    font-family: "Poppins Med", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 8px;
    padding: 18px 0;
    width: 149px;
    height: 52px;
    margin-left: auto;
    margin-top: auto;
    border: 0px;
}

.profile__add-btn:hover {
  opacity: 80%;
  transition: .5s;
  cursor: pointer;
}

.profile__plus {
  width: 12px;
  height: 12px;
  padding: 0 8px 0 0;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    padding: 20px 0;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    padding: 0;
    object-fit: cover;
  }
  .profile__name {
    font-size: 20px;
    line-height: 20px;
    padding-top: 12px;
    margin: 0 auto;
    max-width: 288px;
  }

  .profile__description {
    padding-top: 6px;
    max-width: 288px;
    margin: 0 auto;
  }

  .profile__edit-btn {
    margin: 0 auto;
    padding: 32px 0 20px;
  }

  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }
}